@model Chat360Client.Models.LoginUserModel
@{
    ViewBag.Title = "SignUp";
}



<form class="form-auth" action="@Url.Action("ProcessSignUp")" method="POST">
    <h2>Register</h2>
    
    <input type="username" name="username" placeholder="Username" class="form-control"><br>
    <input type="password" name="password" placeholder="Password" class="form-control"><br>
    <input type="submit" value="Register" class="btn btn-primary" />
</form>
